$yellow: #EEC732; 
$mint: #aed3ae;
$mint-dark: #8cbfa8;
$sky: #b0d8df;
$purple: #aba8d2;
$white: #f7f7f7;
$black: #222222;
$pure-black:#000000;
$grey: #D9D9D9;
$red: #E50914;

/*Theme style1 -- à voir si c'Est pertinent*/
$bg-color: $white;
