@use 'colors';
@use 'fonts';
@use 'fx';

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}
  

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin alignJust--center {
    align-items: center;
    justify-content: center;
}

@mixin flexStart {
    align-items: flex-start;
    justify-content: flex-start;
}
